@page "/asp-net-roles"

<PageTitle>AspNetRoles</PageTitle>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12 col-md-6">
        <RadzenText Text="AspNetRoles" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
    </div>
    <div class="col-12 col-md-6 justify-content-start justify-content-md-end" style="display: flex; align-items: center; flex-wrap: wrap; gap: 0.5rem">
    <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@ExportClick" Variant="Variant.Flat" Shade="Shade.Lighter">
        <RadzenSplitButtonItem Text="Excel" Value="xlsx" />
        <RadzenSplitButtonItem Text="CSV" Value="csv" />
    </RadzenSplitButton>
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
    </div>
</div>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12">
        <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"  AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
            Data="@aspNetRoles"   RowUpdate=@GridRowUpdate RowCreate=@GridRowCreate TItem="RadzenServerApp.Models.admin.AspNetRole" >
            <Columns>
                <RadzenDataGridColumn TItem="RadzenServerApp.Models.admin.AspNetRole" Property="Id" Title="Id">
                  <EditTemplate Context="aspNetRole">
                      <RadzenTextBox style="display: block; width: 100%" @bind-Value="@aspNetRole.Id" Name="Id" />
                      <RadzenRequiredValidator Component="Id" Text="Id is required" style="position: absolute" />
                  </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenServerApp.Models.admin.AspNetRole" Property="ConcurrencyStamp" Title="Concurrency Stamp">
                  <EditTemplate Context="aspNetRole">
                      <RadzenTextBox style="display: block; width: 100%" @bind-Value="@aspNetRole.ConcurrencyStamp" Name="ConcurrencyStamp" />
                  </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenServerApp.Models.admin.AspNetRole" Property="Name" Title="Name">
                  <EditTemplate Context="aspNetRole">
                      <RadzenTextBox style="display: block; width: 100%" @bind-Value="@aspNetRole.Name" Name="Name" />
                  </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenServerApp.Models.admin.AspNetRole" Property="NormalizedName" Title="Normalized Name">
                  <EditTemplate Context="aspNetRole">
                      <RadzenTextBox style="display: block; width: 100%" @bind-Value="@aspNetRole.NormalizedName" Name="NormalizedName" />
                  </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenServerApp.Models.admin.AspNetRole" Filterable="false" Sortable="false" Width="156px" TextAlign="TextAlign.Center">
                    <EditTemplate Context="aspNetRole">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium"
                            style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                            Click=@(args => SaveButtonClick(args, aspNetRole)) @onclick:stopPropagation="true" />
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                            Click=@(args => CancelButtonClick(args, aspNetRole)) @onclick:stopPropagation="true" />
                    </EditTemplate>
                    <Template Context="aspNetRole">

                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                            style="margin-top: 0.25rem; margin-right: 0.25rem; margin-bottom: 0.25rem"
                            Click=@(args => EditButtonClick(args, aspNetRole)) @onclick:stopPropagation="true" />

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, aspNetRole)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
